<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Carteira de Estudante Digital</title>
  </head>
  <body>
    <nav
      style="background-color: aqua !important"
      class="navbar navbar-light bg-light"
    >
      <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">Carteira de Estudante Digital</span>
      </div>
    </nav>
    <section>
      <p><b>Nome do Estudante:</b> Otávio Ferreira Dahlke</p>
      <p><b>Data de Nascimento:</b> 03/06/2004</p>
      <p><b>E-mail:</b> otaviofd03@gmail.com</p>
      <p><b>Número de Matrícula:</b> 007053</p>
      <p><b>Período:</b> 1°</p>
    </section>
    <section>
      <p><b>Número de Telefone:</b> 55997171476</p>
      <p><b>Contato de Emergência:</b> 55996030702</p>
      <p><b>Cidade:</b> Restinga Seca, RS</p>
      <p><b>Endereço:</b> Rua Santos Dumont, 1391, Centro</p>
    </section>
  </body>
</html>