<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Carteira de Estudante Digital</title>
  </head>
  <body>
    <nav
      style="background-color: aqua !important"
      class="navbar navbar-light bg-light"
    >
      <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">Carteira de Estudante Digital</span>
      </div>
    </nav>
    <section>
      <p><b>Nome do Estudante:</b> {{ estudante.nome }}</p>
      <p><b>Data de Nascimento:</b> {{ estudante.dt_nascimento }}</p>
      <p><b>E-mail:</b> {{ estudante.email }}</p>
      <p><b>Número de Matrícula:</b> {{ estudante.matricula }}</p>
      <p><b>Período:</b> {{ estudante.periodo }}</p>
    </section>
    <section>
      <p><b>Número de Telefone:</b> {{ estudante.telefone }}</p>
      <p><b>Contato de Emergência:</b> {{ estudante.telefone_emergencia }}</p>
      <p><b>Cidade:</b> {{ estudante.cidade }}</p>
      <p><b>Endereço:</b> {{ estudante.endereço }}</p>
    </section>
  </body>
</html>